* {margin: 0; padding: 0; box-sizing: border-box; color: #333; font-family: sans-serif;}
a {color: inherit; text-decoration: none;}
img {vertical-align: middle;}

.flex {display: flex;}
.inner {width: 1440px; margin: 0 auto;}
i {font-size: 2rem !important;}
.rel {position: relative;}
.abs {position: absolute;}

/* header */
#app > header > div {justify-content: space-between;}
#app > header > div > nav {margin-top: 50px;}
#app > header > div > nav > div {display: inline-block; margin-right: 20px;}

/* section */
#app > section > article {width: 1440px; margin: 50px auto;}
#app > section > .introduce > .quick > div {display: inline-block; margin-right: 20px;}
#app > section > .introduce > .container > img {width: 350px;}
#app > section > .gallery > .images {justify-content: space-between;}
#app > section > .gallery > .images > .img {height: 150px; overflow: hidden;}
#app > section > .gallery > .images > .img > img {width: 150px; height: 150px; object-fit: cover;}
#app > section > .gallery > .images > .img > div {transition: .3s; background: rgba(0, 0, 0, .5); top: 150px; bottom: -150px; text-align: center;}
#app > section > .gallery > .images > .img > div > p {color: #fff;}
#app > section > .gallery > .images > .img:hover > div {top: 0; bottom: 0;}
#app > section > .alert > .container {overflow: hidden;}
#app > section > .alert > .container > .slide {width: calc(288px * 13); animation: 20s alert linear infinite;}
#app > section > .alert > .container > .slide > div {width: calc(1440px / 5);}
@keyframes alert {
    0% {transform: translateX(0);}
    10% {transform: translateX(0);}

    12.5% {transform: translateX(-288px);}
    22.5% {transform: translateX(-288px);}

    25% {transform: translateX(-576px);}
    35% {transform: translateX(-576px);}

    37.5% {transform: translateX(-864px);}
    47.5% {transform: translateX(-864px);}

    50% {transform: translateX(-1152px);}
    60% {transform: translateX(-1152px);}

    62.5% {transform: translateX(-1440px);}
    72.5% {transform: translateX(-1440px);}

    75% {transform: translateX(-1728px);}
    85% {transform: translateX(-1728px);}

    87.5% {transform: translateX(-2016px);}
    97.5% {transform: translateX(-2016px);}

    99.9999% {transform: translateX(-2304px);}
    100% {transform: translateX(0);}
}
/* footer */
#app > footer > div {justify-content: space-between;}
.notice {position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.5); z-index: 1; display: none;}
.notice > div {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 500px; height: 500px; background: #fff; display: flex; justify-content: right;}
input[id="close"]:checked + .notice {display: none;}
